<p id="notice"><%= notice %></p>

<h2>New Server</h2>
<%= form_tag(:controller => 'servers', :action => 'create', :method => :post) do %>
<%= text_field_tag "name" %>
<%= submit_tag "new server" %>
<% end %>

<h2>Delete Server</h2>
<%= form_tag(:controller => 'servers', :action => 'destroy', :method => :delete) do %>
  <%= text_field_tag "name_id" %>
  <%= submit_tag "delete server" %> 
<% end %>

<h2>API Result</h2>
<%= raw ap(@response) rescue nil %>

<h2>Listing Server</h2>
<%=  raw ap(@server_list) %>
