<h2>New domain</h2>
<%= form_tag(:controller => "domains", :action => "create", :method => "post") do %>
  <%= label_tag "name" %>
  <%= text_field_tag "name" %>
  <%= label_tag "ttl" %>
  <%= text_field_tag "ttl" %>
  <%= label_tag "email" %>
  <%= text_field_tag "email" %>
  <%= submit_tag "new domain" %>
<% end %>

<h2>Delete domain</h2>
<%= form_tag(:controller => "domains", :action => "destroy", :method => "post") do %>
  <%= label_tag "name_id" %>
  <%= text_field_tag "name_id" %>
  <%= submit_tag "delete domain" %>
<% end %>

<h2>API Result</h2>
<h2>Listing Domains</h2>
<%= raw ap(@response) rescue nil %>

<h2>Listing Domains</h2>
<%= raw ap(@domain_list) %>
