<!DOCTYPE html>
<html>
<head>
  <title>DesignateUi</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand">OpenStack Designate UI</a>
    </div>
    <ul class="nav navbar-nav">
      <li class=""><a href="./servers">Servers</a></li>
      <li class=""><a href="./domains">Domains</a></li>
      <li class=""><a href="./records">Records</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
